{% extends "base.html" %}
{% block title %}Blog List{% endblock  %}
{% block content %}
    <h1>Blog Posts</h1>
    <a href="{% url 'create_post' %}">Add Post</a>
    {% for post in posts %}
        <h2>{{post.title}}</h2>
        <p>{{post.content}}</p>
        <p>Category: {{ post.category }}</p>
        <p>Author: {{post.author}}</p>
        <a href="{% url 'update_post' post.id %}">Edit</a>
    {% empty %}
        <p>No posts available.</p><a href="{% url 'create_post' %}">Create here</a>
    {% endfor %}
{% endblock  %}
